.carousel{
    width: 600px;
    overflow: hidden;
}

.carousel-list {
    list-style: none;
    width: 10000px;
    padding: 0;
    position: relative;
}

.carousel-element {
    display: block;
    margin-right: 25px;
    float: left;
}

.carousel-element img {
    max-width: 100px;
}

.carousel-left, .carousel-right {
    float: left;
}

.carousel-left, .carousel-right {
    float: left;
    display: block;
    border: 1px solid grey;
    background-color: lightgrey;
    padding: 5px;
    margin-top: 50px;
}

.carousel-right{
    float: right;
}

.carousel-left:hover, .carousel-right:hover {
    cursor: pointer;
    background-color: grey;
}

.carousel-left {
    margin-right: 25px;
}

.carousel-right {
    margin-left: 25px;
}